<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069831166961-pk19s40imcgvkdsa6h4cpi7q8sjn7vjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069831166961-pk19s40imcgvkdsa6h4cpi7q8sjn7vjh</string>
	<key>API_KEY</key>
	<string>AIzaSyAabKVXEYkVJ7ON6s_MNiELEQXlAWHcx54</string>
	<key>GCM_SENDER_ID</key>
	<string>1069831166961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betrider.dynamiclink</string>
	<key>PROJECT_ID</key>
	<string>flutter-dynamic-link-3e5a1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-dynamic-link-3e5a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069831166961:ios:be2230fbc4a7dcea748250</string>
</dict>
</plist>